### ***pandas***

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# loading
df = pd.read_csv(filepath)
df = pd.read_excel(filepath,sheet_name=None)
df = pd.read_json(filepath)

In [ ]:
data = {
    'name': [
        'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Frank', 'Grace', 'Heidi', 'Ivan',
        'Judy', 'Karl', 'Leo', 'Mallory', 'Niaj', 'Olivia', 'Peggy', 'Quincy', 'Rupert', 'Sybil',
        'Trent', 'Uma', 'Victor', 'Wendy', 'Xander', 'Yvonne', 'Zara', 'Alice', 'Bob', 'Charlie',
        'David', 'Eve', 'Frank', 'Grace', 'Heidi', 'Ivan', 'Judy', 'Karl', 'Leo', 'Mallory',
        'Niaj', 'Olivia', 'Peggy', 'Quincy', 'Rupert', 'Sybil', 'Trent', 'Uma', 'Victor', 'Wendy',
        'Xander', 'Yvonne', 'Zara', 'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Frank',
        'Grace', 'Heidi', 'Ivan', 'Judy', 'Karl', 'Leo', 'Mallory', 'Niaj', 'Olivia', 'Peggy',
        'Quincy', 'Rupert', 'Sybil', 'Trent', 'Uma', 'Victor', 'Wendy', 'Xander', 'Yvonne', 'Zara',
        'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Frank', 'Grace', 'Heidi', 'Ivan',
        'Judy', 'Karl', 'Leo', 'Mallory', 'Niaj', 'Olivia', 'Peggy', 'Quincy', 'Rupert', 'Sybil'
    ],
    'age': [
        25, 30, 28, 35, 22, 25, 40, 27, 32, 29, 26, 33, 24, 31, 23, 28, 37, 36, 25, 26,
        27, 32, 29, 24, 25, 30, 35, 22, 26, 31, 29, 28, 26, 37, 24, 32, 30, 28, 27, 29,
        33, 28, 25, 34, 26, 31, 28, 36, 25, 27, 26, 32, 29, 30, 28, 31, 22, 30, 25, 29,
        27, 35, 22, 33, 32, 27, 26, 25, 34, 28, 31, 22, 33, 36, 24, 35, 26, 33, 29, 28,
        27, 36, 30, 32, 25, 26, 24, 34, 27, 29, 28, 32, 31, 33, 24, 28, 36, 26, 35, 25
    ],
    'color': [
        'Red', 'Blue', 'Green', 'Yellow', 'Purple', 'Red', 'Blue', 'Yellow', 'Green', 'Purple',
        'Red', 'Blue', 'Green', 'Yellow', 'Purple', 'Red', 'Blue', 'Yellow', 'Green', 'Purple',
        'Red', 'Blue', 'Green', 'Yellow', 'Purple', None, 'Blue', 'Yellow', 'Green', 'Purple',
        'Red', 'Blue', 'Green', 'Yellow', 'Purple', 'Red', 'Blue', 'Yellow', 'Green', 'Purple',
        'Red', None, 'Green', 'Yellow', 'Purple', 'Red', 'Blue', 'Yellow', 'Green', 'Purple',
        'Red', 'Blue', 'Green', 'Yellow', 'Purple', 'Red', 'Blue', 'Yellow', 'Green', 'Purple',
        'Red', 'Blue', 'Green', 'Yellow', 'Purple', None, 'Blue', 'Yellow', 'Green', 'Purple',
        'Red', 'Blue', 'Green', 'Yellow', 'Purple', 'Red', 'Blue', 'Yellow', 'Green', 'Purple',
        'Red', None, 'Green', 'Yellow', 'Purple', 'Red', 'Blue', 'Yellow', 'Green', 'Purple',
        'Red', 'Blue', 'Green', 'Yellow', 'Purple', 'Red', 'Blue', 'Yellow', 'Green', None
    ],
    'country': [
        'USA', 'Canada', 'UK', 'Australia', 'Germany', 'USA', 'Canada', 'UK', 'Australia', 'Germany',
        'USA', 'Canada', 'UK', 'Australia', 'Germany', 'USA', 'Canada', 'UK', 'Australia', 'Germany',
        'USA', 'Canada', 'UK', 'Australia', 'Germany', 'USA', 'Canada', 'UK', 'Australia', 'Germany',
        'USA', 'Canada', 'UK', 'Australia', 'Germany', 'USA', 'Canada', 'UK', 'Australia', 'Germany',
        'USA', 'Canada', 'UK', 'Australia', 'Germany', 'USA', 'Canada', 'UK', 'Australia', 'Germany',
        'USA', 'Canada', 'UK', 'Australia', 'Germany', 'USA', 'Canada', 'UK', 'Australia', 'Germany',
        'USA', 'Canada', 'UK', 'Australia', 'Germany', 'USA', 'Canada', 'UK', 'Australia', 'Germany',
        'USA', 'Canada', 'UK', 'Australia', 'Germany', 'USA', 'Canada', 'UK', 'Australia', 'Germany',
        'USA', 'Canada', 'UK', 'Australia', 'Germany', 'USA', 'Canada', 'UK', 'Australia', 'Germany',
        'USA', 'Canada', 'UK', 'Australia', 'Germany', 'USA', 'Canada', 'UK', 'Australia', 'Germany'
    ],
    'dob': [
        '1998-05-10', '1993-08-15', '1995-03-21', '1988-12-05', '2001-07-18', '1998-05-10',
        '1983-04-01', '1996-09-23', '1992-11-15', '1994-10-30', '1998-12-01', '1989-02-15',
        '1997-01-12', '1990-07-19', '1996-06-22', '1995-05-25', '1987-12-11', '1994-10-30',
        '1998-11-20', '1996-06-15', '1998-12-10', '1987-08-25', '1997-07-07', '1995-11-30',
        '1993-05-15', '1988-09-20', '1995-10-08', '2001-03-19', '1994-04-13', '1993-06-22',
        '1992-07-05', '1997-12-25', '1993-11-30', '1987-01-18', '1999-07-16', '1991-06-14',
        '1985-04-20', '1996-12-29', '1994-01-11', '1997-09-30', '1989-03-17', '2000-01-10',
        '1986-04-08', '1992-07-29', '1993-11-30', '1990-05-02', '1995-08-28', '1987-04-10',
        '1997-09-11', '2000-02-18', '1993-07-12', '1987-12-10', '1989-06-24', '1994-04-08',
        '1988-10-29', '2000-08-25', '1998-11-12', '1995-12-03', '1987-02-14', '1992-11-22',
        '1985-06-18', '1991-12-15', '1990-09-04', '1988-03-27', '1997-02-21', '1991-04-30',
        '1987-08-14', '1992-12-10', '1995-09-18', '1984-10-01', '1996-08-30', '1988-03-25',
        '1990-06-18', '1987-05-05', '1998-07-28', '1992-04-12', '1989-10-18', '1994-09-20',
        '1992-07-11', '1988-10-09', '1991-06-27', '1990-03-12', '1993-08-23', '1985-05-19',
        '1995-03-30', '1988-01-11', '1994-11-04', '1991-03-06', '1989-05-26', '1987-10-18',
        '1993-02-01', '1998-06-17', '1976-12-24', '1991-08-22', '1990-09-26', '1998-12-18',
        '1988-07-30', '1995-01-11', '1999-11-04', '1993-02-06'
    ],
    'sex': [
        'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male',
        'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female',
        'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male',
        'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male',
        'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female',
        'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female',
        'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female',
        'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female',
        'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male',
        'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female'
    ],
    'salary': [
        50000, 62000, 54000, 75000, None, 50000, 66000, 47000, None, 71000,
        53000, 58000, None, 63000, 57000, 62000, 49000, 68000, 56000, 65000,
        None, 52000, 70000, None, 50000, 60000, 55000, 73000, 51000, None,
        64000, 58000, 67000, None, 55000, 70000, 59000, 56000, None, 53000,
        68000, 61000, 54000, 66000, 57000, None, 64000, 68000, 56000, 63000,
        65000, None, 54000, 69000, None, 66000, 51000, 60000, 68000, 65000,
        53000, None, 62000, 71000, 58000, 54000, None, 67000, 60000, 50000,
        55000, 53000, 69000, 64000, None, 70000, 52000, 55000, None, 60000,
        56000, None, 53000, 62000, 66000, 67000, 55000, 70000, 68000, 63000,
        None, 59000, 60000, 69000, 54000, 67000, 62000, None, 66000, 61000
    ]
}

In [ ]:
# create
df = pd.DataFrame(data,columns=['name','age','color','country','dob','sex','salary'])
df

       name  age   color    country         dob     sex   salary
0     Alice   25     Red        USA  1998-05-10  Female  50000.0
1       Bob   30    Blue     Canada  1993-08-15    Male  62000.0
2   Charlie   28   Green         UK  1995-03-21    Male  54000.0
3     David   35  Yellow  Australia  1988-12-05    Male  75000.0
4       Eve   22  Purple    Germany  2001-07-18  Female      NaN
..      ...  ...     ...        ...         ...     ...      ...
95   Olivia   28     Red        USA  1998-12-18  Female  67000.0
96    Peggy   36    Blue     Canada  1988-07-30    Male  62000.0
97   Quincy   26  Yellow         UK  1995-01-11  Female      NaN
98   Rupert   35   Green  Australia  1999-11-04    Male  66000.0
99    Sybil   25    None    Germany  1993-02-06  Female  61000.0

[100 rows x 7 columns]

In [ ]:
# data frame attributes
print(df.shape)
print(df.dtypes)
print(df.columns)
print(df.size)
print(df.index)

(100, 7)
name        object
age          int64
color       object
country     object
dob         object
sex         object
salary     float64
dtype: object
Index(['name', 'age', 'color', 'country', 'dob', 'sex', 'salary'], dtype='object')
700
RangeIndex(start=0, stop=100, step=1)

In [ ]:
# Inspection
print(df.info())
print(df.head(n=3))
print(df.tail(n=3))
print(df.describe())
print(df.describe(include='all')) # includes non-numeric columns too

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     100 non-null    object
 1   age      100 non-null    int64
 2   color    95 non-null     object
 3   country  100 non-null    object
 4   dob      100 non-null    object
 5   sex      100 non-null    object
 6   salary   82 non-null     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 5.6+ KB
None
      name  age  color country         dob     sex   salary
0    Alice   25    Red     USA  1998-05-10  Female  50000.0
1      Bob   30   Blue  Canada  1993-08-15    Male  62000.0
2  Charlie   28  Green      UK  1995-03-21    Male  54000.0
      name  age   color    country         dob     sex   salary
97  Quincy   26  Yellow         UK  1995-01-11  Female      NaN
98  Rupert   35   Green  Australia  1999-11-04    Male  66000.0
99   Sybil   25    None    Germany  1993-02-06  Female  61000.0
              age        salary
count  100.000000     82.000000
mean    29.020000  60548.780488
std      4.097252   6802.600155
min     22.000000  47000.000000
25%     26.000000  55000.000000
50%     28.000000  60500.000000
75%     32.000000  66000.000000
max     40.000000  75000.000000
         name         age  color country         dob   sex        salary
count     100  100.000000     95     100         100   100     82.000000
unique     26         NaN      5       5          97     2           NaN
top     Alice         NaN  Green     USA  1998-05-10  Male           NaN
freq        7         NaN     20      20           2    52           NaN
mean      NaN   29.020000    NaN     NaN         NaN   NaN  60548.780488
std       NaN    4.097252    NaN     NaN         NaN   NaN   6802.600155
min       NaN   22.000000    NaN     NaN         NaN   NaN  47000.000000
25%       NaN   26.000000    NaN     NaN         NaN   NaN  55000.000000
50%       NaN   28.000000    NaN     NaN         NaN   NaN  60500.000000
75%       NaN   32.000000    NaN     NaN         NaN   NaN  66000.000000
max       NaN   40.000000    NaN     NaN         NaN   NaN  75000.000000

In [ ]:
# cleaning

# Q. DOB object to datetime format
df['dob'] = pd.to_datetime(df['dob'])
print(df.info())

# Q. Number of null/none/N.A entries, if NA entries are in salary fill them with median, else in any other column remove that entry/row
print("Total NA entries: ",df.isna().sum())
median_salary = df['salary'].median()
df['salary'] = df['salary'].fillna(median_salary) # df['salary'].fillna(median_salary,inplace=True)
df.dropna(subset = [col for col in df.columns if col!='salary'],inplace=True)
print("Total NA entries: ",df.isna().sum().sum())

# Q. Find duplicates/false entries using name and age, print them and then remove them.
duplicate_count = df.duplicated(subset=['name', 'age']).sum()
print("Duplicate entries:", duplicate_count)
duplicates = df[df.duplicated(subset=['name', 'age'], keep=False)]
print("Duplicate entries based on 'name' and 'age':\n", duplicates)
df = df.drop_duplicates(subset=['name', 'age'], keep='first')
duplicate_count = df.duplicated(subset=['name', 'age']).sum()
print("Duplicate entries:", duplicate_count)

# Q. Find dob below year 1985, and change their salary by increasing 25%
df_before_1985 = df[df['dob'].dt.year < 1985]
print(df_before_1985)
df.loc[df['dob'].dt.year < 1985,'salary'] *= 1.25 # label based indexing

# Q. Drop a column
df = df.drop(columns=['color'])
df

# Q. Replace all entries before 1985 to "1990-01-01"
print(df_before_1985)
df.loc[df['dob'].dt.year < 1985, 'dob'] = pd.to_datetime("1990-01-01")
print(df_before_1985)

# Q. Rename Column sex to gender
df.rename(columns = {'sex':'gender'},inplace=True)
df

       name  age   color    country        dob  gender   salary
0     Alice   25     Red        USA 1998-05-10  Female  50000.0
1       Bob   30    Blue     Canada 1993-08-15    Male  62000.0
2   Charlie   28   Green         UK 1995-03-21    Male  54000.0
3     David   35  Yellow  Australia 1988-12-05    Male  75000.0
4       Eve   22  Purple    Germany 2001-07-18  Female      NaN
..      ...  ...     ...        ...        ...     ...      ...
95   Olivia   28     Red        USA 1998-12-18  Female  67000.0
96    Peggy   36    Blue     Canada 1988-07-30    Male  62000.0
97   Quincy   26  Yellow         UK 1995-01-11  Female      NaN
98   Rupert   35   Green  Australia 1999-11-04    Male  66000.0
99    Sybil   25    None    Germany 1993-02-06  Female  61000.0

[100 rows x 7 columns]

In [ ]:
# data selection

# Q. print entries before dob<1990
print(df.loc[df['dob'].dt.year<1990])

# Q. print only name, age, salary
print(df[['name','age','salary']])

# Q. print information of alice
print(df.iloc[0,1]) # row, column - at row 0 - its alice with age - 25, hence it will print 25.
print(df.iloc[:2]) # two - rows will be printed, alice and bob

# Q. find entries with name Alice and gender = Female
# ** In python - and,or,not is used, but in pandas &, | and ~ is preferred.
print(df.loc[(df['name']=='Alice') & (df['gender']=='Female')])

     name  age   color    country        dob  gender   salary
0   Alice   25     Red        USA 1998-05-10  Female  50000.0
5   Alice   25     Red        USA 1998-05-10  Female  50000.0
27  Alice   22  Yellow         UK 2001-03-19  Female  73000.0
58  Alice   25   Green  Australia 1987-02-14  Female  68000.0

In [ ]:
department_data = {
    'DepartmentName': ['HR', 'Finance', 'Engineering', 'Marketing'],
    'id' : [1,2,3,4]
}

departments = pd.DataFrame(department_data)
departments

  DepartmentName  id
0             HR   1
1        Finance   2
2    Engineering   3
3      Marketing   4

In [ ]:
# data transformations (mergining and joining) & statistical functions

# Q. create a column with name Key = 'name-gender(f/m)-age'
df['gender'] = df['gender'].astype(str)
keys = df['name']+'-'+df['gender'].str[0]+'-'+df['age'].astype(str) # df['key'] instead of keys
df = pd.concat([df,keys],axis=1) # df['key'] = keys
df.rename(columns = {'key':'keys'},inplace=True)
df

# Q. join df and departments on id, if id>4, perform mod%4, and merge with resultant id
df['id'] = (df.index%4) + 1
print(df.merge(departments,left_on='id',right_on='id',how='inner')) # df.merge(df, how='inner' 'left' 'right' , on='')

# ** merge vs join - merge connect df on columns, join connects on indexes
# df.join(newdf, how='left' 'inner' 'right', on='')

# sort on basis of age and then salary
print(df.sort_values(by='dob',ascending=False)) # descending
print(df.sort_values(by='salary',ascending=True))
print(df.sort_index())

# Apply function - where salary > 50k is increased by 10% and if less than that increased by 20%
def SALARY(sal):
  if sal>50000:
    return sal*1.1
  else:
    return sal*1.2

df['salary'] = df['salary'].map(SALARY)
df

# find maxima and minima in salary
print(df['salary'].min())
print(df['salary'].max())

# find top 1% earning employees
# ** top 1% means 99th percentile of salary column
sal99 = df['salary'].quantile(0.99)
result_df = df[df['salary']>=sal99]
result_df = result_df[['name','salary','id']]
result_df_sal = result_df['salary'].tolist()
print(result_df)
print(result_df_sal)

# find and print employee with salary greater than average
avgsal = df['salary'].mean() # .median()
print(avgsal)
result_df = df[df['salary']>avgsal]
print(result_df)

66964.63414634146
       name  age   color    country        dob  gender   salary          Keys  \
1       Bob   30    Blue     Canada 1993-08-15    Male  68200.0      Bob-M-30
3     David   35  Yellow  Australia 1988-12-05    Male  82500.0    David-M-35
6     Frank   40    Blue     Canada 1983-04-01    Male  72600.0    Frank-M-40
9      Ivan   29  Purple    Germany 1994-10-30    Male  78100.0     Ivan-M-29
13  Mallory   31  Yellow  Australia 1990-07-19    Male  69300.0  Mallory-M-31
15   Olivia   28     Red        USA 1995-05-25  Female  68200.0   Olivia-F-28
17   Quincy   36  Yellow         UK 1994-10-30    Male  74800.0   Quincy-M-36
19    Sybil   26  Purple    Germany 1996-06-15  Female  71500.0    Sybil-F-26
22   Victor   29   Green         UK 1997-07-07    Male  77000.0   Victor-M-29
27    Alice   22  Yellow         UK 2001-03-19  Female  80300.0    Alice-F-22
30    David   29     Red        USA 1992-07-05    Male  70400.0    David-M-29
32    Frank   26   Green         UK 1993-11-30    Male  73700.0    Frank-M-26
35     Ivan   32     Red        USA 1991-06-14  Female  77000.0     Ivan-F-32
40     Niaj   33     Red        USA 1989-03-17  Female  74800.0     Niaj-F-33
41   Olivia   28    None     Canada 2000-01-10  Female  67100.0   Olivia-F-28
43   Quincy   34  Yellow  Australia 1992-07-29  Female  72600.0   Quincy-F-34
46    Trent   28    Blue     Canada 1995-08-28    Male  70400.0    Trent-M-28
47      Uma   36  Yellow         UK 1987-04-10  Female  74800.0      Uma-F-36
49    Wendy   27  Purple    Germany 2000-02-18  Female  69300.0    Wendy-F-27
50   Xander   26     Red        USA 1993-07-12    Male  71500.0   Xander-M-26
53    Alice   30  Yellow  Australia 1994-04-08    Male  75900.0    Alice-M-30
55  Charlie   31     Red        USA 2000-08-25  Female  72600.0  Charlie-F-31
58    Alice   25   Green  Australia 1987-02-14  Female  74800.0    Alice-F-25
59    Frank   29  Purple    Germany 1992-11-22  Female  71500.0    Frank-F-29
62     Ivan   22   Green         UK 1990-09-04    Male  68200.0     Ivan-M-22
63     Judy   33  Yellow  Australia 1988-03-27  Female  78100.0     Judy-F-33
67     Niaj   25  Yellow         UK 1992-12-10    Male  73700.0     Niaj-M-25
72    Sybil   33   Green         UK 1990-06-18    Male  75900.0    Sybil-M-33
73    Trent   36  Yellow  Australia 1987-05-05  Female  70400.0    Trent-F-36
75   Victor   35     Red        USA 1992-04-12  Female  77000.0   Victor-F-35
83    David   32  Yellow  Australia 1985-05-19    Male  68200.0    David-M-32
84      Eve   25  Purple    Germany 1995-03-30  Female  72600.0      Eve-F-25
85    Alice   26     Red        USA 1988-01-11    Male  73700.0    Alice-M-26
87    Grace   34  Yellow         UK 1991-03-06  Female  77000.0    Grace-F-34
88    Heidi   27   Green  Australia 1989-05-26    Male  74800.0    Heidi-M-27
89     Ivan   29  Purple    Germany 1987-10-18    Male  69300.0     Ivan-M-29
93  Mallory   33  Yellow  Australia 1991-08-22    Male  75900.0  Mallory-M-33
95   Olivia   28     Red        USA 1998-12-18  Female  73700.0   Olivia-F-28
96    Peggy   36    Blue     Canada 1988-07-30    Male  68200.0    Peggy-M-36
98   Rupert   35   Green  Australia 1999-11-04    Male  72600.0   Rupert-M-35
99    Sybil   25    None    Germany 1993-02-06  Female  67100.0    Sybil-F-25

    id
1    2
3    4
6    3
9    2
13   2
15   4
17   2
19   4
22   3
27   4
30   3
32   1
35   4
40   1
41   2
43   4
46   3
47   4
49   2
50   3
53   2
55   4
58   3
59   4
62   3
63   4
67   4
72   1
73   2
75   4
83   4
84   1
85   2
87   4
88   1
89   2
93   2
95   4
96   1
98   3
99   4